<h1>Xueyan Huang</h1>
<div>Hi, this is Xueyan. I am currently enrolled in the Master of Computer Science program, and I am seeking the 2023
    summer internship. I have a deep interest in Frontend/Full-Stack development.
    <ul>
        <li>Proficient in HTML, CSS, JavaScript, TypeScript.</li>
        <li>Proficient in React, Redux, React-Router.</li>
        <li>Proficient in Nestjs, GraphQL, PostgreSQL.</li>
        <li>Experience in using React, Redux, React-Router-DOM to create and maintain reusable components and Single
            Page
            Application (SPA).</li>
        <li>Hands-on experience in UI frameworks/libraries, such as Ant Design, Chakra UI, Material UI, tailwind CSS,
            and
            Bootstrap.</li>
    </ul>

</div>